<div class="m-4">
    <div class="bg container-fluid rounded-3 mx-auto" *ngFor="let item of data">

    <h1 class="card-title p-2"> {{ item.titulo }} </h1>  
        <img class="rounded" src="{{item.image}}">
        <p class="texto"> {{ item.texto }} </p>
      
    
      <span *ngFor="let i of item.recorridos">
        <h3> {{ i.nombre_recorrido }} </h3>
        <p> {{ i.texto }} </p>
        <p> {{ i.dificultad }} </p>
        <p> {{ i.precio }} </p>
      </span>
      
    </div>
  </div>
